#First{
    text-align: center;
    background-color: rgb(195, 234, 234);
    margin: 20px 20px 20px 20px;
    border-radius: 06px;
}
#Second{
    text-align: left;
    background-color: antiquewhite;
    border-radius: 06px;
}
#Third{
    text-align: center;
    width:;
}